body {
    background-image: url('../server/images/wallpaper.webp');
    background-size: cover;      /* stretches image to fill the whole page */
    background-position: center; /* keeps it centered */
    background-repeat: no-repeat; /* stops it from tiling */
    background-attachment: fixed; /* image stays fixed when you scroll */
    text-align: center;
}


h1 {
    background-color: aquamarine;
    text-align: center;
    display: inline-block;
    border: dashed;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Segoe UI;
    font-size: 50px;
    border-radius: 10px;
}

h2 {
    background-color: white;
    text-align: center;
    display: inline-block;
    border: dashed;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Segoe UI;
    font-size: 30px;
    border-radius: 10px;
}

p {
    font-size: larger;
    font-family: 'Arial Narrow';
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 650;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: aquamarine;
    text-align: center;
    padding: 10px 0;
}

footer a {
    margin: 0 15px;
    text-decoration: none;
    color: black;
    font-family: 'Arial Narrow'
}

footer a:hover {
    text-decoration: underline;
}

#william {
    font-size: small;
    font-weight: 100;
}

#playwithgoober {
  background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}





